:root{
    
    /*--blue:#005073;*/
    --blueCeleste:#2e9dbf;
    --red:#ff2e63;
    --White:#fff;
    --footer:#393a3b;
    --title:35px;
    --text:19px;
 }
 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background: #ffff;
    /*overflow-x: hidden;*/
    font-family: 'Red Hat Text', sans-serif;
}
.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    background: #fff;
    border:2px solid var(--blueCeleste);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
}
.go-top:hover{
    background: var(--blueCeleste);
    color:#fff;
    border: 2px solid var(--white);
}
.go-top:hover span{color:var(--white);}
 
.go-top > span{
    font-size: 30px;
    color: var(--black);
}
 
 /** Navegation Menu **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position:fixed;
    top:0;
    left: 0;
    /*width: 100%;*/
    height: 60px;
    background: var(--blue); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{margin-left: 20px;}
.menu .logo-box a img{
    text-decoration: none;
    width: 140px;
    /*font-size: var(--title);*/
    font-weight: 400;
    color:var(--White);
}
 .menu .list-container{margin-right: 20px;}
 .menu .list-container ul{display: flex;}
 .menu .list-container ul li{list-style: none;}
 .menu .list-container ul li a{
     text-decoration: none;
     margin: 0px 10px;
     padding:8px;
     color: var(--White);
     /*border-radius: 24px;*/
     transition: 0.3s;
     font-size: 20px;
 }
.menu .list-container ul li a.active{
    border-bottom: var(--White);
    color: rgba(255, 255, 255, 0.5);
 }
 .menu .list-container ul li a:hover{
    border-bottom: solid 6px var(--White);
    color:rgba(255, 255, 255, 0.5);
 }
 
 .btn-menu > .fa-bars{
     display: none;
 }
 
 @media only screen and (max-width:900px){
     .btn-menu > .fa-bars{
         display: block;
         position:absolute;
         right: 30px;
         top: 20px;
         font-size: 28px;
         color: var(--black);
         transition: 0.5s;
         cursor: pointer;
     }
     .btn-menu > .fa-times{color: var(--White);}
     .btn-menu > .fa-bars:hover{color:var(--White);}
     .menu .logo-box{margin-left: 30px;}
     .menu .list-container{
         position: fixed;
         top:60px;
         left:-100%;
         background: var(--blue);
         width: 100%;
         height: calc(100vh - 60px);
     }
     .menu .list-container .lists{
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         border-top:4px solid var(--White);
     }
     .menu .list-container ul li{
         width: 90%;
         border-bottom: 2px solid var(--black);
         display: flex;
         justify-content: center;
     }
     .menu .list-container ul li a{
         font-size: 20px;
         text-align: center;
         padding:12px 0px;
     }
     .menu .list-container ul li a.active{
         background: none;
         color:var(--White);
     }
     .menu .list-container ul li a:hover{
         background: none;
         color:var(--White);
     }
 }
 
 /** Navegation Menu **/
 .img-header{
    position: relative;
    /*width: 100%;
    height: 100vh;*/
    background:url(../image/iujo-sede-caracas3.webp) no-repeat center center ;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgba(0,0,0,0.6);

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
}
.img-header .welcome .welcome-title{
    width: 50%;
    /*margin:auto;*/
    text-align: center;
    border: solid var(--White);
    padding: 20px;
}
.img-header .welcome .welcome-title:hover{
    width: 50%;
    /*margin:auto;*/
    text-align: center;
    border: solid var(--blue);
    padding: 20px;
}
.img-header .welcome .welcome-title h2{
    font-size: 50px;
    font-weight: normal;
    color: var(--White);
    margin-bottom: 10px;
}
.img-header .welcome .welcome-title:hover h2{
    font-size: 50px;
    font-weight: normal;
    color: var(--blue);
    margin-bottom: 10px;
}
.img-header .welcome .welcome-title hr{
    width: 60%;
    height: 6px;
    margin:auto;
    background: var(--White);
    border: none;
}
.img-header .welcome .welcome-title:hover hr{
    width: 60%;
    height: 6px;
    margin:auto;
    background: var(--blue);
    border: none;
}
.img-header .welcome p{
    font-size: 20px;
    color: #fff;
}
#abajo{
    width: 170px;
    height: 40px;
    background: var(--White);
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #005073;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background:var(--blue);
    color: #fff;
}

@media only screen and (max-width:773px ){
    .img-header .welcome h1{font-size: 40px;}
    .img-header .welcome > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
    .img-header .welcome h1{font-size: 30px;}
    .img-header .welcome hr{width: 100px;}
    .img-header .welcome p{font-size: 17px;}
    .img-header .welcome > button{width: 100px; font-size: 17px;}
    .img-header .welcome .welcome-title h3{
        font-size: 50px;
        font-weight: normal;
        color: var(--White);
        margin-bottom: 10px;
    }
}
.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin:10px 0px;
}
.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
    width: calc(33.333% - 10px);
    height: 300px;
    margin: 10px 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acerca-de .info-container .about-more button{
    position: relative;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.acerca-de .info-container .about-more button:hover{background: var(--blue);}

@media only screen and (max-width:773px){
    .acerca-de .info-container .about-gallery{flex-direction: column;}
    .acerca-de .info-container .about-gallery img{width: 100%;}
}
@media only screen and (max-width:590px){
    .acerca-de .info-container h1{font-size: 30px;}
    .acerca-de .info-container p{font-size: 15px;}
}

/** Abaut-Us **/

/*.AbautUs{
    width: 100%;
    margin-top: 120px;
}*/
.AbautUs-info{
    background: var(--blue);
    color: #fff;
   
}
.AbautUs-info .AbautUs-info-img {

    background:url(../image/iujo-sede-caracas3.webp) no-repeat center center ;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
/*.AbautUs-info-contend{
    width: 50%;
    height: auto;
    padding: 10px;
    position: relative;
    
}*/

#read-more {
    width: 150px;
    height: 40px;
    float: right;
    background: var(--blueCeleste);
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 18px;
    color: var(--White);
    text-align: center;
    /*margin-top: 20px;*/
    cursor: pointer;
    transition: 0.5s;
    /*position: relative;*/

}
.AbautUs-info-contend:hover button{
    background: var(--White);
    color: var(--blueCeleste);
}
.AbautUs-title{
    /*width: 50%;*/
    margin:auto;
    text-align: center;
    border: solid var(--blue);
    padding: 20px;
}
.AbautUs .AbautUs-title h2{
    font-size: 50px;
    font-weight: normal;
    color: var(--blue);
    margin-bottom: 10px;
}
.AbautUs .AbautUs-title hr{
    width: 60%;
    height: 6px;
    margin:auto;
    background: var(--blue);
    border: none;
}
.AbautUs .box-AbautUs{
    width: 90%;
    margin: 80px auto;
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
}
.AbautUs .box-AbautUs .card-AbautUs{
    width: 45%;
    margin: 20px;
}
.AbautUs .box-AbautUs .card-AbautUs .card-img{
    /*display: flex;
    justify-content: center;*/
    margin-bottom: 30px;
}
.AbautUs .box-AbautUs .card-AbautUs .card-img img{
    /*width: 150px;*/
    height: 150px;
    /*border-radius: 50%;*/
    object-fit: cover;
    cursor: pointer;
}
.AbautUs .box-AbautUs .card-AbautUs .AbautUs-text{
    border: 2px solid var(--blue);
    padding:20px;
    border-radius: 20px;
    transition: 0.1s;
    cursor: pointer;
}
.AbautUs .box-AbautUs .card-AbautUs .AbautUs-text h4{
    font-size: 30px;
    font-weight: 400;
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
}
.AbautUs .box-testimonio .card-AbautUs .AbautUs-text p{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: var(--black);
}
.AbautUs .box-AbautUs .card-AbautUs .AbautUs-text:hover{
    border: 2px solid var(--blue);
}
.AbautUs .box-AbautUs .card-AbautUs .AbautUs-text:hover h4{
    color: var(--blue);
}

@media only screen and (max-width:890px){
    .AbautUs .box-AbautUs .card-AbautUs .card-img img{/*width: 200px;*/ height: 150px;}
    .AbautUs .box-AbautUs .card-AbautUs{width: 100%;}
    .AbautUs .box-AbautUs .card-AbautUs .AbautUs-text h4{font-size: 25px;}
    .AbautUs .box-AbautUs .card-AbautUs .AbautUs-text p{font-size: 17px; line-height: 35px;}
    /*.AbautUs-info{display: block; position: relative; left: 100px;}*/
}

/**Skills**/

.Skills{
    /*width: 100%;*/
    /*margin-top: 120px;*/
    background: #066892;
    /*padding-top: 100px;*/
}
.Skills-title{
    /*width: 50%;*/
    margin:auto;
    text-align: center;
    border: solid 5px var(--White);
    padding: 20px;
}

.Skills-title h2{
    font-size: 50px;
    font-weight: normal;
    color: var(--White);
    margin-bottom: 10px;
}
.Skills-title hr{
    width: 60%;
    height: 6px;
    margin:auto;
    background: var(--White);
    border: none;
}
 .box-Skills{
    width: 90%;
    margin: 80px auto;
  
}
 .card-Skills{
    width: 45%;
    margin: 20px;
}
.card-img{
    margin-bottom: 30px;
}
.Skills .box-Skills .card-Skills .card-img img{

    height: 150px;
    object-fit: cover;
    cursor: pointer;
}
.Skills .box-Skills .card-Skills .Skills-text{
    border: 2px solid var(--White);
    padding:20px;
    border-radius: 20px;
    transition: 0.1s;
    cursor: pointer;
    color: var(--White);
}
.Skills .box-Skills .card-Skills .Skills-text h4{
    font-size: 30px;
    font-weight: 400;
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
}
.Skills .box-tesSkills .card-Skills .Skills-text p{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: var(--black);
}
.Skills .Skills-title:hover{
    border: 5px solid var(--blue);
}
.Skills .Skills-title:hover h2{
    color:var(--blue);
}
.Skills .Skills-title:hover hr{
    background:var(--blue);
}

.Skills .box-Skills .card-Skills .Skills-text:hover{
    border: 2px solid var(--blue);
}
.Skills .box-Skills .card-Skills .Skills-text:hover h4{
    color: var(--blue);
}

@media only screen and (max-width:890px){
    .Skills .box-Skills .card-Skills .card-img img{/*width: 200px;*/ height: 150px;}
    .Skills .box-Skills .card-Skills{width: 100%;}
    .Skills .box-Skills .card-Skills .Skills-text h4{font-size: 25px;}
    .Skills .box-Skills .card-Skills .Skills-text p{font-size: 17px; line-height: 35px;}
}

/** Footer **/
.footer{
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    background: var(--footer);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgba(0,0,0,0.6);
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    padding-top: 100px;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}
.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border:2px solid #fff;
    padding:15px;
}
.footer .footer-content .footer-title h2{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}
.footer .footer-content .footer-title hr{
    background: #fff;
    height: 2px;
    width: 80%;
    margin:auto;
}
.footer .formulario-content{
    width: 60%;
    margin: 50px auto;
    background: #fff;
    padding:30px;
    border-radius: 50px;
    border: 1.5px solid var(--red);
}
.footer .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .formulario-content #formulario label{
    font-size: 20px;
    text-align: center;
    color: var(--black);
    margin: 30px 0px 10px 0px;
}
.footer .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin:auto;
    border-radius: 24px;
    outline: none;
    border:1.5px solid var(--red);
    text-align: center;
    font-size: 18px;
    color: var(--black);
}
.footer .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin:auto;
    padding: 20px;
    border-radius: 24px;
    outline: none;
    border:1.5px solid var(--red);
    font-size: 15px;
    color: var(--black);
}
.footer .formulario-content #formulario .send{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.footer .formulario-content #formulario button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.footer .formulario-content #formulario button:hover{
    background: var(--blue);
}
.footer .formulario-content #formulario .mensaje-form{
    width: 100%;
    margin:auto;
    padding:20px;
}
.footer .formulario-content #formulario .mensaje-form p{
    font-size:19px;
    color: var(--black);
    line-height: 35px;
}
.footer .footer-text{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background:rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
}
.footer .footer-text p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width:900px){
    .footer .formulario-content{width: 85%; padding:20px;}
}
@media only screen and (max-width:590px){
    .footer .formulario-content{width: 95%; padding:20px;}

}